.App {
  text-align: center;
}

@media all and (min-width: 480px) {
  .login-wrapper {
    padding: 60px 0;
  }
  .register-wrapper {
    padding: 10px 0;
  }
  .login-wrapper form,
  .register-wrapper form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.nav-item {
  float: left;
}
